body,
a {
    font: 400 15px/28px 'Lato', sans-serif;
    color: #060c31;
    text-decoration: none;
}

a, a:focus {
    outline: none
}

/* Grids */
.content_wrapper {
    width: 1440px;
    margin: 0 auto;
}

.content_wrapper .header {
    padding: 0 80px 0 88px;
}

.content_wrapper .footer {
    padding: 0 88px;
}
/* /Grids */

/* Header */
.header {
    margin-bottom: 89px;
}

.header_logo {
    margin-top: 68px;
    margin-bottom: 8px;
    width: 60px;
}

.header_menu {
    display: block;
    float: right;
    margin-top: 60px;
}

.header_menu_nav {
    display: inline-block;
    margin-right: 40px;
}

.header_menu_item {
    font: 700 13px/28px 'Lato', sans-serif;
    display: inline-block;
}

.header_menu_item:not(:first-child) {
    margin-left: 36px;
}

.header_menu_item:hover {
    color: #000a4b;
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 27px;
    border: 1px solid #ffb0b1;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #fdf7f7;
}

.button:active {
    background-color: #ffe9e9;
}
/* / Header */

/* Main */
.main {
    margin-bottom: 104px;
}

.main_text_wrapper {
    margin-left: 200px;
    display: inline-block;
    vertical-align: middle;
}

.main_title {
    width: 500px;
    margin-bottom: 42px;
    font: 400 58px/64px 'Crete Round', serif;
    color: #060c31;
}

.main_text {
    width: 435px;
    margin-bottom: 76px;
    letter-spacing: 0.75px;
    font-weight: 700;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5)
}

.button.button_accept {
    padding: 11px 35px;
    margin-right: 20px;
    border: none;
    color: white;
    background-color: #233fe2;
}
.button.button_accept:hover {
    background-color: #1f37be;
}

.button.button_accept:active {
    background-color: #1b2fa0;
}

.main_picture {
    display: inline-block;
    vertical-align: middle;
    margin-left: -57px;

    width: 790px;
}
/* /Main */

/* Footer */
.footer {
    height: 76px;
}

.footer_clients_wrapper {
    float: right;
}

.client_link {
    vertical-align: middle;
    margin-left: 104px;
}
/* /Footer */