body,
a {
    font: 400 15px/28px 'Lato', sans-serif;
    letter-spacing: 0.75px;
    color: #060c31;
    text-decoration: none;
}

a, a:focus {
    outline: none
}

.content {
    max-width: fit-content;
    margin: 0 auto;
}

/* Header */
.header {
    margin-left: 30px;
    margin-bottom: 89px;
}

.header__logo {
    margin-top: 60px;
    width: 60px;
}
/* / Header */

/* Main */
.main {
    margin-left: 30px;
}

.main .main__title {
    width: 500px;
    margin-bottom: 36px;
    font: 400 58px/64px 'Crete Round', serif;   
    letter-spacing: 2.9px;
    color: #060c31;
}

.main .main__text {
    width: 420px;
    margin-bottom: 48px;
}

.main__buttons {
    margin-bottom: 28px;
}

.button {
    display: inline-block;
    padding: 10px 27px;
    margin-right: 20px;
    border: 1px solid #ffb0b1;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #fdf7f7;
}

.button:active {
    background-color: #ffe9e9;
}

.button.button--accept {
    padding: 11px 35px;
    border: none;
    color: white;
    background-color: #233fe2;
}
.button.button--accept:hover {
    background-color: #1f37be;
}

.button.button--accept:active {
    background-color: #1b2fa0;
}
/* /Main */