.header_wrapper {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.section_wrapper {
    max-width: 1610px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3, h4 {
    margin: 0;
}

/* Intro */
.intro {
    height: 977px;
    margin-bottom: 138px;
    background: url('../media/university_image.jpg') no-repeat center;
    background-size: cover;
    position: relative;
}

.intro.young {
    background: url('../media/intro_background_young.jpg') no-repeat center;
}

.intro.average {
    background: url('../media/intro_background_average.jpg') no-repeat center;
}

.background_grad {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 15.1%, rgba(0, 0, 0, 0.2) 46.88%, rgba(0, 0, 0, 0) 100%);
}

.header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header_logo {
    width: 100px;
    height: 50px;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in,
                transform 1s ease-in;
}

.loaded .header_logo,
.loaded .header_nav,
.loaded .intro_main {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
}

.header_nav {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in .5s,
                transform 1s ease-in .5s;
}

.header_nav_link {
    font: 600 16px/22px 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    outline: none;
}

.header_nav_link:hover {
    text-decoration: underline;
}

.header_nav_link:not(:last-child) {
    margin-right: 80px;
}

.header_burger {
    display: none;
}

.intro_main {
    margin-top: 183px;
    margin-left: 30px;
    opacity: 0;
    transform: translateX(-150px);
    transition: opacity 1s ease 1s,
                transform 1s ease 1s;
}

.intro_title {
    color: white;
    font: 600 90px/99px 'Open Sans', sans-serif;
    max-width: 800px;
    margin-bottom: 43px;
    position: relative;
}

.intro_link {
    font: 500 23.48px/28.46px 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    position: relative;
}

.intro_link_text {
    padding-right: 14px;
    transition: padding-right .4s ease;
    position: relative;
}

.intro_link_text::after {
    display: block;
    content: url('../media/arrow.png');
    position: absolute;
    top: 2px;
    left: 100%;
}

.intro_link_text:hover,
.intro_link_text:active {
    padding-right: 19.27px;
}

/* /Intro */

/* /Main */
.main {
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 168px;

    transform: translateY(200px);
    transition: transform 1s ease;
}

.main.loaded {
    transform: translateY(0);
}

.main_title {
    font: 600 48px/48px 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 53px;
}

.main_frames {
    column-count: 2;
    column-gap: 3%;
}

.frame {
    margin-bottom: 40px;
    position: relative;
    color: #fff;
}

.frame img {
    width: 100% !important;
    height: auto !important;
}

.frame_info {
    position: absolute;
    top: 30px;
    left: 32px;
}

.frame_info_title {
    font: 400 25.3267px/32px 'Roboto', sans-serif;
    margin-bottom: 11.16px;
}

.frame_info_text {
    font: 400 18.995px/18px 'Roboto', sans-serif;
}

.text_black {
    color: #000;
}

.link_to_top {
    display: block;
    text-align: center;
    margin-top: 20px;
}
/* /Main */

/* Content */
.why_content {
    margin-bottom: 169px;
    overflow: hidden;
}

.why_title {
    font: 600 70px/85px 'Open Sans', sans-serif;
    margin-bottom: 82px;

    transform: translateX(-400px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.why_title.loaded {
    opacity: 1;
    transform: translateX(0)
}

.why_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 167px);
    gap: 32px;
    
    transform: translateX(200px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.why_cards.loaded {
    opacity: 1;
    transform: translateX(0)
}

.why_card {
    border: 1px solid #8D8D8D;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.why_card_num {
    font: 300 60px/73px 'Open Sans', sans-serif;
    width: 26%;
    text-align: end;
    margin-right: 30px;
}

.why_card_text {
    max-width: 270px;
    font: 400 24px/34px 'Roboto', sans-serif;
    color: #003BD1;
}
/* /Content */

/* Subscribe */
.subscribe {
    background-color: #F8F8F8;
    height: 430px;
}

.subscribe .section_wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe_title {
    font: 600 90px/110% 'Open Sans', sans-serif;
    width: 620px;
    /* width: 45%; */
}

.subscribe_form {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.form_input {
    width: 441px;
    height: 65px;
    padding-left: 27px;
    font: 400 20px/22.2px 'Open Sans', sans-serif;
    border: 1.34888px solid #C0C0C0;
    border-radius: 5.39553px;
    margin-right: 22px;
}

.form_input:focus {
    border: 1.34888px solid #1f59ee;
    outline: none;
}

.form_button {
    width: 270px;
    height: 65px;
    background-color: #003BD1;
    font: 600 20px/22.2px 'Open Sans', sans-serif;
    border-radius: 5.39553px;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    transition-property: background-color, box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.form_button:hover {
    background-color: #0040E5;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.form_button:active {
    outline: none;
    background: #0032B2;
    box-shadow: inset 0px 4px 16px rgba(0, 0, 0, 0.1);
}
/* /Subscribe */

/* Footer */
.footer {
    height: 345px;
    padding-top: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_lists {
    /* width: 1216px; */
    width: 77%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer_list {
    width: 25%;
    list-style: none;
}

.footer_list:nth-child(2) {
    width: 23%;
}

.footer_list:nth-child(3) {
    width: 28%;
}

.list_title {
    font: 700 24px/29px 'Roboto', sans-serif;
    color: #003BD1;
    margin-bottom: 32px;
}

.list_item {
    display: block;
    color: #000;
    text-decoration: none;
    font: 400 20px/23.44px 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.list_item:hover {
    text-decoration: underline;
}
/* /Footer */