/* variables */
:root {
    --color-pink: #EE58B6;
    --color-pink-checkbox-hover: #e6bdd7;
    --color-pink-checkbox-focus: #b33f88;
}
/* /variables */

/* Common */
a, input {
    display: inline-block;
    text-decoration: none;
    outline: none;
}

a, input,
.button, .form_input_select {
    font: 500 16px/19.5px 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font: 500 48px/60.51px 'Montserrat', sans-serif;
}

.content_wrap {
    width: 1135px;
    margin: 0 auto;
}

.button {
    background-color: #05090C;
    font-weight: 600;
    color: #fff;
    padding: 18.15px 40.5px;
    border-radius: 5px;
}

.button:hover {
    background-color: #122533;
    text-decoration: none;
}

.button:active {
    background-color: #091822;
    text-decoration: none;
}

p {
    color: rgba(0, 0, 0, 0.7);
}

.text_colored {
    /* color: #EE58B6; */
    color: var(--color-pink)
}
/* /Common */

/* Header */
.header {
    height: 115px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: opacity 0.23s ease-out 0.3s;
}

.loaded .header {
    opacity: 1;
}

.header_wrapper {
    max-width: 1710px;
    margin: 0 auto;
}

.header_logo {
    width: 203px;
}

.nav_item {
    margin-left: 87px;
    color: #000;
}

.nav_button {
    margin-left: 99px;
}
/* /Header */

/* Intro */
.intro {
    height: 745px;
    max-width: 1595px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro_text {
    transform: translateY(20px);
    opacity: 0;
    transition: all .3s ease-out .53s;
}

.loaded .intro_text {
    transform: translateY(0);
    opacity: 1;
}

.intro_title {
    font: 600 100px/155px 'Montserrat', sans-serif;
}

.intro_subtitle {
    width: 545px;
    margin-bottom: 46px;
    font: 400 26px/31.2px 'Roboto Condensed', sans-serif;
}

.intro_button {
    padding-left: 82.5px;
    padding-right: 82.5px;
}

.intro_img {
    transform: translateY(100px) scale(0.75);
    opacity: 0;
    transition: all .3s ease-out .53s;
}

.loaded .intro_img {
    transform: translateY(0) scale(1);
    opacity: 1;
}
/* /Intro */

/* Promo */
.promo {
    height: 400px;
    background-color: #000;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .15s ease-out .83s;
}

.loaded .promo {
    opacity: 1;
}

.promo_cards {
    display: flex;
    justify-content: space-between;
}

.promo_card {
    width: 290px;
    text-align: center;
}

.promo_card:nth-child(2) {
    width: 340px;
}

.promo_card:nth-child(1) {
    opacity: 0;
    transition: opacity .15s ease-out .98s;
}
.promo_card:nth-child(2) {
    opacity: 0;
    transition: opacity .15s ease-out 1.13s;
}
.promo_card:nth-child(3) {
    opacity: 0;
    transition: opacity .15s ease-out 1.28s;
}
.loaded .promo_card {
    opacity: 1;
}

.card_img {
    height: 52px;
    margin-bottom: 20px;
}

.card_text {
    font: 400 22px/26.4px 'Roboto Condensed', sans-serif;
    color: #fff;
}
/* /Promo */

/* Troubles */
.troubles {
    margin-top: 200px;
    margin-bottom: 130px;
}

.trouble {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trouble_text {
    width: 50%;
}

.trouble_title {
    margin-bottom: 24px;
}

.trouble_subtitle {
    font: 400 18px/24.3px 'Roboto Condensed', sans-serif;
}

.trouble_first .trouble_subtitle {
    width: 620px;
}

.trouble_second {
    margin-top: -86px;
}

.trouble_second .trouble_img {
    margin-right: 100px;
}

.trouble_first .trouble_img {
    transform: translateX(-50px);
    opacity: 0;
}

.trouble_first .trouble_text {
    transform: translateX(50px);
    opacity: 0;
}

.trouble_first .trouble_img,
.trouble_first .trouble_text {
    transition: all .3s ease-out;
}

.trouble_first.loaded .trouble_img,
.trouble_first.loaded .trouble_text {
    transform: translateX(0);
    opacity: 1;
}

.trouble_second .trouble_text {
    transform: translateX(-50px);
    opacity: 0;
}

.trouble_second .trouble_img {
    transform: translateX(50px);
    opacity: 0;
}

.trouble_second .trouble_img,
.trouble_second .trouble_text {
    transition: all .3s ease-out;
}

.trouble_second.loaded .trouble_img,
.trouble_second.loaded .trouble_text {
    transform: translateX(0);
    opacity: 1;
}
/* /Troubles */

/* Skills  */
.skill {
    margin-bottom: 170px;
}

.skill_title {
    text-align: center;
    margin-bottom: 60px;
}

.skill_title span {
    transform: scale(.3);
    opacity: 0;
    transition: all .5s ease-out;
}

.skill.loaded .skill_title span {
    transform: scale(1);
    opacity: 1;
}

.skill_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 190px);
    gap: 30px;
}

.skill_card {
    background-color: #000;
    padding-top: 32px;
    padding-left: 40px;
    border-radius: 7.35723px;
}

.skill_card_img {
    margin-bottom: 21px;
}

.skill_card_text {
    font: 400 18px/21px 'Roboto Condensed', sans-serif;
    color: #fff;
}

.skill_card_text {
    width: 270px;
}

.card_three .skill_card_text {
    width: 240px;
}

.card_four .skill_card_text {
    width: 260px;
}

.card_five .skill_card_text {
    width: 210px;
}

.card_six .skill_card_text {
    width: 286px;
}

.skill_card {
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-out;
    transition-duration: .3s;
}

.card_four {
    transition-delay: .3s;
}

.card_two {
    transition-delay: .5s;
}

.card_six {
    transition-delay: .7s;
}

.card_one {
    transition-delay: .9s;
}

.card_five {
    transition-delay: 1.1s;
}

.card_three {
    transition-delay: 1.3s;
}
 
.skill.loaded .skill_card {
    opacity: 1;
}
/* /Skills  */

/* Todo */
.todo {
    background-color: #000;
}

.todo_wrapper {
    max-width: 1450px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 125px;
    padding-bottom: 238px;
    color: white;
}

.todo_title {
    text-align: center;
    max-width: 470px;
    margin: 0 auto 60px;
}

.todo_form_row {
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
}

.row_item {
    width: 340px;
    border-radius: 4px;
    cursor: pointer;
}

.form_input_select, .form_input_text {
    padding-left: 28px;
    background-color: #fff;
    border: 1.34888px solid #C0C0C0;
}

.form_input_select {
    color: #999;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../media/select_mark.png');
    background-repeat: no-repeat;
    background-position: top 50% right 29.25px;
}

.form_input_select::-ms-expand {
    display: none;
}

.todo_form_button {
    border: 2px solid #fff;
    background-color: #000;
}

.todo_form_button:hover {
    background-color: #111;
}

.todo_form_button:active {
    background-color: #000;
}

.form_input_checkbox_label {
    font: 400 16px/22.2px 'Roboto Condensed', sans-serif;
    cursor: pointer;
}

.form_input_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form_input_checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    
}

.form_input_checkbox+label::before {
    content: '';
    display: inline-block;
    width: 21.58px;
    height: 21.58px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.35px solid #C0C0C0;
    border-radius: 4px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #000;
}

.form_input_checkbox:checked+label::before {
    border-color: var(--color-pink);
    background-color: var(--color-pink);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.form_input_checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: var(--color-pink);
}
/* /Todo */

/* Author */
.author {
    max-width: 765px;
    padding: 0 15px;
    margin: 126px auto 118px;
    text-align: center;
}

.author_avatar {
    margin-bottom: 20px;
}

.author_title {
    font: 500 26px/31.2px 'Montserrat', sans-serif;
    margin-bottom: 9px;
}

.author_text {
    font: 400 18px/27px 'Roboto Condensed', sans-serif;
}

.author_subtitle {
    margin-bottom: 24px;
}

.author_about {
    max-width: 626px;
    margin: 0 auto 41px;
}

.social_link_img {
    width: 48px;
    margin: 0 5px;
}
/* /Author */

/* Footer */
.footer {
    height: 108px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* /Footer */